{
    "debug": true,
    "process": {
        "file_limit": 1000000,
        "core_limit": 1000000000
    },
    "log": {
        "path": "/var/log/matchengine.log",
        "flag": "fatal,error,warn,info,debug,trace",
        "num": 10
    },
    "alert": {
        "host": "matchengine",
        "addr": "127.0.0.1:4444"
    },
    "svr": {
        "bind": [
            "tcp@0.0.0.0:7316",
            "udp@0.0.0.0:7316"
        ],
        "buf_limit": 100,
        "max_pkg_size": 10240,
        "heartbeat_check": false
    },
    "cli": "tcp@127.0.0.1:7317",
    "db_sys": {
        "host": "localhost",
        "user": "trader",
        "pass": "eXch@nge0213",
        "name": "exchange"
    },
    "db_log": {
        "host": "localhost",
        "user": "user",
        "pass": "pass",
        "name": "trade_log"
    },
    "db_history": {
        "host": "localhost",
        "user": "user",
        "pass": "pass",
        "name": "trade_history"
    },
    "brokers": "127.0.0.1:9092",
    "slice_interval": 3600,
    "slice_keeptime": 259200
}
